body{
    background-color: black;
    color:aliceblue;
}
.flex{
    display: flex;
    background-color: aliceblue;
    /*flex-direction: row;
    flex-wrap:wrap;*/
    flex-flow: row wrap;
    justify-content: center;
    width:70rem;
    height: 70rem;
    align-items: center;
    
}
.flex > div{
    border: 1px solid rebeccapurple;
    background-color: blueviolet;
    padding: 2px 5px ;
    margin:5px ;
    
    overflow: hidden;
   
}
 